<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">
    
        <h1 style="color: red">EMPLOYEE'S CHECK IN/ CHECK OUT COUNTER</h1>
        <body bgcolor="white">
            <br>
            <div class = "containerCheckInOut">
                <p>CHECK-IN TIME</p>
                <p>{{checkIn}}</p><br>
                <p>CHECK-OUT TIME</p>
                <p>{{checkOut}}</p><br> 
            </div>
            <div>
                <a href="/backHome">
                    <button type="submit" class="form-button">BACK</button>
                </a>
            </div>

        </body>
    </font>

</center>
</html>