<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
    <font color="black" size="4" style="font-family: avenir">
    
        <h1 style="color: red">CHECK IN/ CHECK OUT</h1>
        <body bgcolor="white">
            <br>
            <div class = "containerCheckInOut">
                <form action="/checkIn"
                <p>EMPLOYEE ID:</p><br>
                <input style="height: 25px; font-size: 14pt;color:grey;border-radius: 30px;" type="number" name="emp_id" autofocus size="40"><br><br>
                
                <button type="submit" style="background: orangered; height: 45px; width:200px; color: white; size: 5;border-radius: 30px;font: oblique; margin: 10px">CHECK-IN</button>
                <button type="submit" style="background: orangered; height: 45px; width:200px; color: white; size: 5;border-radius: 30px;font: oblique; margin: 10px">CHECK-OUT</button>
            </div>
        </body>
    </font>

</center>
</html>