<!DOCTYPE html>
<html>
<head>
	<title>HR SYSTEM</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">
        <h1 style="color: red">HR System Menu</h1>
        <body bgcolor="white">
            <div class="btn1">
                <a href="/">
                    <button type="submit" style="background: orangered; height: 45px; width: 300px;color: white; border-radius:30px; font:oblique; margin: 10px;">Add Employee</button>
                </a>
            </div>
            <div class="btn2">
                <a href="/getemp">
                    <button type="submit" style="background: orangered; height: 45px; width: 300px;color: white; border-radius:30px; font:oblique; margin: 10px;">Get Employee</button>
                </a>
            </div>
            <div class="btn3">
                <a href="/apply">
                    <button type="submit" style="background: orangered; height: 45px; width: 300px;color: white; border-radius:30px; font:oblique; margin: 10px;">Employee Leave</button>
                </a>
            </div>
            <div class = "btn4">
                <a href="/">
                    <button type="submit" style="background: orangered; height: 45px; width: 300px;color: white; border-radius:30px; font:oblique; margin: 10px;">Payroll</button>
                </a>
            </div>


        </body>
    </font>
</center>
</html>
